# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [29]:
import pandas as pd
url="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
insurance_df=pd.read_csv(url)

#Dimesions of the dataset
insurance_df.shape
#Type of data
insurance_df.dtypes
#Unique values
insurance_df.nunique()
#Estadistic
insurance_df.describe()
#Estadistics II
insurance_df.describe(include="object")

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,MY31220,Oregon,F,Bachelor,251459.20%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [37]:
insurance_df.ST.value_counts().sort_values().head(5)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [49]:
insurance_df["Policy Type"].value_counts().sort_values(ascending=False)

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [103]:
insurance_df.dropna(how="all", inplace=True)
insurance_df.set_index("Policy Type", inplace=True)
policy_filter_personal_df=insurance_df.loc["Personal Auto"]
mean_personal=policy_filter_personal_df.Income.mean()
policy_filter_corporate_df=insurance_df.loc["Corporate Auto"]
mean_corporate=policy_filter_corporate_df.Income.mean()

print(f"The mean of income por Personal Auto policy is {mean_personal}")
print(f"The mean of income por Corporate Auto policy is {mean_corporate}")

The mean of income por Personal Auto policy is 38180.69871794872
The mean of income por Corporate Auto policy is 41390.31196581197

In [56]:
insurance_df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [111]:
insurance_df.describe()
condition_potencial_clientes=insurance_df["Total Claim Amount"]>532.800000

potencial_clients_df= insurance_df[condition_potencial_clientes]
potencial_clients_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Vehicle Class,Total Claim Amount
Policy Type,,,,,,,,,,
Personal Auto,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Four-Door Car,1131.464935
Personal Auto,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Two-Door Car,566.472247
Personal Auto,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,SUV,647.442031
Corporate Auto,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Four-Door Car,554.376763
Personal Auto,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...
Corporate Auto,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,SUV,720.752945
Personal Auto,RY92647,Cali,F,Bachelor,1050677.17%,0.0,92.0,1/0/00,Four-Door Car,546.524896
Personal Auto,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Four-Door Car,633.600000
Special Auto,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,SUV,547.200000
Personal Auto,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Two-Door Car,537.600000